/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #475658;
}

main {
  min-height: calc(100vh - 227px - 141px);
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visable {
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #121761 !important;
}

.header {
  padding: 20px 0 25px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.header .nav > :nth-child(2) {
  margin-left: 100px;
}

.header .nav > :nth-child(3) {
  margin-left: 64px;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.header .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .phone a {
  position: relative;
}

.header .phone a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 28px;
  height: 28px;
  background-image: url("../icons/phone.svg");
  background-repeat: no-repeat;
}

.header__btn {
  padding: 16px 57px;
  border: 1px solid #121761;
  border-radius: 10px;
  color: #121761;
  -webkit-transition: color, background-color 0.4s ease-in;
  -o-transition: color, background-color 0.4s ease-in;
  transition: color, background-color 0.4s ease-in;
}

.header__btn:hover {
  background-color: #121761;
  color: #fff;
}

.home {
  padding: 79px 0 99px;
  background-color: #D44B4B;
}

.home-wrap {
  position: relative;
}

.home__text {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 1px;
}

.home__title {
  font-size: 45px;
}

.home__title-home_title {
  max-width: 670px;
  font-weight: 700;
  line-height: 53px;
  color: #fff;
}

.home__title-secondary_title {
  line-height: 60px;
  color: #03073C;
  text-align: center;
}

.home__title + * {
  margin-top: 46px;
}

.home .title__dedicated {
  padding: 0 10px 5px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.home .title__dedicated-border_color {
  border: 1px solid #D44B4B;
}

.home__btn {
  padding: 24px 96px;
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 2px 2px 4px #A1303C;
          box-shadow: 2px 2px 4px #A1303C;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.home__btn:hover {
  background-color: #D44B4B;
  color: #fff !important;
}

.home__img {
  max-width: 850px;
  max-height: 500px;
}

.home__img img {
  position: absolute;
  top: -40px;
  right: -10px;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
}

.info {
  padding: 133px 0 290px;
}

.steps + * {
  margin-top: 214px;
}

.steps__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 380px));
  grid-gap: 61px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps__cards .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 380px;
  padding: 28px 49px 32px;
  border: 1px solid #E0E0E0;
  border-radius: 10px 40px 40px;
}

.steps__cards .card__content + * {
  margin-top: 5px;
}

.steps__cards .card__text {
  padding: 19px 30px;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  font-size: 14px;
  line-height: 21px;
}

.steps__cards .card:nth-child(1):before {
  content: "1";
  position: absolute;
  top: -14px;
  left: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 20px;
  color: #03073C;
}

.steps__cards .card:nth-child(2):before {
  content: "2";
  position: absolute;
  top: -14px;
  left: 4px;
  font-weight: 700;
  font-size: 60px;
  line-height: 20px;
  color: #03073C;
}

.steps__cards .card:nth-child(3):before {
  content: "3";
  position: absolute;
  top: -14px;
  left: 4px;
  font-weight: 700;
  font-size: 60px;
  line-height: 20px;
  color: #03073C;
}

.interview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interview__titles {
  max-width: 889px;
}

.interview__titles + * {
  margin-top: 70px;
}

.interview__title {
  font-size: 45px;
}

.interview__title-home_title {
  max-width: 670px;
  font-weight: 700;
  line-height: 53px;
  color: #fff;
}

.interview__title-secondary_title {
  line-height: 60px;
  color: #03073C;
  text-align: center;
}

.interview .title__dedicated {
  padding: 0 10px 5px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.interview .title__dedicated-border_color {
  border: 1px solid #D44B4B;
}

.interview-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
          box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
}

.interview-card__img {
  position: relative;
  width: 290px;
  background-color: #D44B4B;
  border-radius: 20px 0 0 20px;
}

.interview-card__img img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.interview-card__content {
  padding: 67px 145px 60px 70px;
}

.interview-card__timings {
  font-size: 16px;
  line-height: 26px;
}

.interview-card__timings span {
  color: #D44B4B;
}

.interview-card__timings + * {
  margin-top: 75px;
}

.interview-card__subtitle {
  max-width: 480px;
  font-size: 35px;
  line-height: 45px;
  color: #03073C;
}

.interview-card__subtitle + * {
  margin-top: 30px;
}

.interview-card__links {
  position: relative;
}

.interview-card__links + * {
  margin-top: 62px;
}

.interview-card__links::before {
  content: "";
  position: absolute;
  top: 60px;
  right: -50px;
  width: 77px;
  height: 155px;
  background-image: url("../icons/arrow.svg");
  background-repeat: no-repeat;
}

.interview-card__btn {
  display: inline-block;
  padding: 20px 68px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: #fff !important;
  background-color: #D44B4B;
  -webkit-box-shadow: 2px 2px 5px #F0F0F0;
          box-shadow: 2px 2px 5px #F0F0F0;
  border-radius: 10px;
  border: 1px solid #D44B4B;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.interview-card__btn-big {
  padding: 21px 190px;
}

.interview-card__btn:hover {
  color: #D44B4B !important;
  background-color: #fff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.interview-card__btn:disabled {
  background-color: #dbc5c5;
  border: 1px solid #dbc5c5;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}

.interview-card__list {
  max-width: 354px;
  line-height: 26px;
}

.interview-card__list ul {
  margin-top: 37px;
  padding-left: 24px;
}

.interview-card__list ul li {
  padding-left: 6px;
  list-style: decimal;
}

.footer {
  padding: 61px 0 50px;
  background-color: #475658;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row p {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}

.footer__contact p {
  position: relative;
}

.footer__contact p:before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 19px;
  height: 23px;
  background-image: url("../icons/mark.svg");
}

.footer__contact p + * {
  margin-top: 16px;
}

.footer__contact a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #fff;
}

.footer__contact a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  width: 24px;
  height: 24px;
  background-image: url("../icons/phone.svg");
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__working-mode p:nth-child(1) {
  position: relative;
  font-size: 16px;
}

.footer__working-mode p:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 23px;
  height: 24px;
  background-image: url("../icons/clock.svg");
}

.footer__working-mode p:nth-child(1) + * {
  margin-top: 7px;
}

.intstart {
  padding: 82px 0 136px;
}

.intstart__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intstart__title {
  max-width: 890px;
  font-size: 45px;
}

.intstart__title-home_title {
  max-width: 670px;
  font-weight: 700;
  line-height: 53px;
  color: #fff;
}

.intstart__title-secondary_title {
  line-height: 60px;
  color: #03073C;
  text-align: center;
}

.intstart__title span {
  color: #D44B4B;
}

.intstart__title + * {
  margin-top: 75px;
}

.intstart__content {
  max-width: 1040px;
  padding: 22px 68px 46px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
          box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
  border-radius: 20px;
}

.intstart__indicator {
  font-size: 16px;
  line-height: 26px;
  color: #BDBDBD;
}

.intstart__indicator + * {
  margin-top: 33px;
}

.intstart__indicator-result {
  font-size: 20px;
  color: #D44B4B;
}

.intstart hr {
  max-width: 898px;
  border: 1px solid #F2F2F2;
}

.intstart hr + * {
  margin-top: 44px;
}

.intstart__question {
  position: relative;
  font-size: 35px;
  line-height: 45px;
  color: #121761;
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 850px));
}

.intstart__question .prompt {
  display: table;
  max-width: 337px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 50px 35px 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #828282;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
          box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  top: -270px;
  right: -4px;
}

.intstart__question .prompt__color_red {
  color: #D44B4B;
}

.intstart .question-icon {
  position: absolute;
  width: 25px;
  height: 28px;
  top: -5px;
  right: -5px;
}

.intstart .question-icon-small {
  width: 19px;
  height: 19px;
}

.intstart .question-icon circle {
  stroke: #A8D0FB;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.intstart .question-icon path {
  fill: #A8D0FB;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.intstart .question-icon:hover {
  cursor: pointer;
}

.intstart .question-icon:hover circle {
  stroke: #D44B4B;
}

.intstart .question-icon:hover path {
  fill: #D44B4B;
}

.intstart .question-icon:hover + .prompt {
  visibility: visible;
  opacity: 1;
}

.intstart__answers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 12px 30px;
  margin-top: 46px;
}

.intstart__answer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 434px;
  height: 80px;
  padding: 11px 33px 11px 32px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  -webkit-transition: border 0.2s ease-in;
  -o-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}

.intstart__answer:hover {
  border: 1px solid #A8D0FB;
}

.intstart__answer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  cursor: pointer;
}

.intstart__answer input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid #121761;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.intstart__answer input[type=radio][type=radio]:checked {
  background-color: #121761;
}

.intstart__answer .prompt {
  max-width: 337px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 50px 35px 22px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #828282;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
          box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  bottom: 55px;
  right: 30px;
}

.intstart__answer .prompt__color_red {
  color: #D44B4B;
}

.intstart .answer-icon {
  position: absolute;
  width: 25px;
  height: 28px;
  top: 10px;
  right: 10px;
}

.intstart .answer-icon-small {
  width: 19px;
  height: 19px;
}

.intstart .answer-icon circle {
  stroke: #A8D0FB;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.intstart .answer-icon path {
  fill: #A8D0FB;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.intstart .answer-icon:hover {
  cursor: pointer;
}

.intstart .answer-icon:hover circle {
  stroke: #D44B4B;
}

.intstart .answer-icon:hover path {
  fill: #D44B4B;
}

.intstart .answer-icon:hover + .prompt {
  visibility: visible;
  opacity: 1;
}

.intstart__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 61px;
}

.intstart__btns + * {
  margin-top: 52px;
}

.intstart__btns-btns_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intstart__btn {
  display: inline-block;
  padding: 20px 68px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: #fff !important;
  background-color: #D44B4B;
  -webkit-box-shadow: 2px 2px 5px #F0F0F0;
          box-shadow: 2px 2px 5px #F0F0F0;
  border-radius: 10px;
  border: 1px solid #D44B4B;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.intstart__btn-big {
  padding: 21px 190px;
}

.intstart__btn:hover {
  color: #D44B4B !important;
  background-color: #fff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.intstart__btn:disabled {
  background-color: #dbc5c5;
  border: 1px solid #dbc5c5;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}

.intstart__result,
.intstart .result {
  padding: 20px 0;
  margin-top: unset;
}

.intstart__result ol li + li,
.intstart .result ol li + li {
  margin-top: 15px;
}

.intstart__result__question,
.intstart .result__question {
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 35px;
  color: #03073C;
}

.intstart__result__answer,
.intstart .result__answer {
  font-size: 18px;
  color: #475658;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  padding: 40px 30px 30px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__header + * {
  margin-top: 25px;
}

.modal__title {
  font-size: 25px;
  color: #03073C;
}

.modal__close {
  font-size: 33px;
  padding: 0 10px;
  font-weight: bold;
  color: #000;
  text-align: center;
  background-color: #dbc5c5;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.modal__close:hover {
  background-color: #D44B4B;
}

.modal .form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  color: #03073C;
}

.modal .form__wrap label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .form__wrap label + label {
  margin-top: 15px;
}

.modal .form__input {
  margin-top: 10px;
  padding: 13px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.modal .form__input:focus {
  border-color: #A8D0FB;
}

.modal .form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.modal .form__btn {
  display: inline-block;
  padding: 20px 68px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: #fff !important;
  background-color: #D44B4B;
  -webkit-box-shadow: 2px 2px 5px #F0F0F0;
          box-shadow: 2px 2px 5px #F0F0F0;
  border-radius: 10px;
  border: 1px solid #D44B4B;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 14px 88px;
}

.modal .form__btn-big {
  padding: 21px 190px;
}

.modal .form__btn:hover {
  color: #D44B4B !important;
  background-color: #fff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.modal .form__btn:disabled {
  background-color: #dbc5c5;
  border: 1px solid #dbc5c5;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}

@media (max-width: 1300px) {
  .container {
    max-width: 100%;
  }

  .home__title {
    font-size: 36px;
  }

  .home__title-home_title {
    max-width: 510px;
  }

  .interview__title {
    font-size: 36px;
  }

  .interview__title-home_title {
    max-width: 510px;
  }

  .intstart__title {
    font-size: 36px;
  }

  .intstart__title-home_title {
    max-width: 510px;
  }
}

@media (max-width: 1200px) {
  .header .nav ul {
    display: none;
  }

  .header .nav > :nth-child(2) {
    margin-left: unset;
  }

  .home__title-home_title {
    max-width: 800px;
  }

  .home__title {
    text-align: center;
    line-height: 60px;
  }

  .home__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home__img img {
    opacity: 0.1;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .info {
    padding: 100px 0 200px;
  }

  .steps + * {
    margin-top: 120px;
  }

  .steps__cards {
    grid-gap: 30px;
  }

  .interview__title-home_title {
    max-width: 800px;
  }

  .info {
    padding: 100px 0 200px;
  }

  .interview__titles + * {
    margin-top: 40px;
  }

  .footer {
    padding: 45px 0 40px;
  }

  .intstart__title-home_title {
    max-width: 800px;
  }
}

@media (max-width: 1066px) {
  .intstart {
    padding: 60px 0 100px;
  }

  .intstart__title + * {
    margin-top: 50px;
  }

  .intstart__content {
    padding: 22px 40px 46px;
  }
}

@media (max-width: 1050px) {
  .home {
    padding: 50px 0 75px;
  }

  .info {
    padding: 80px 0 100px;
  }

  .steps + * {
    margin-top: 75px;
  }

  .info {
    padding: 80px 0 100px;
  }

  .interview-card__content {
    padding: 67px 100px 60px 50px;
  }

  .interview-card__timings + * {
    margin-top: 50px;
  }

  .interview-card__subtitle {
    font-size: 33px;
    line-height: 40px;
  }

  .interview-card__links + * {
    margin-top: 50px;
  }

  .interview-card__list ul {
    margin-top: 25px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 10px 0 15px;
  }
}

@media (max-width: 920px) {
  .home__title {
    font-size: 33px;
  }

  .home__title-home_title {
    line-height: 55px;
  }

  .home__title-secondary_title {
    max-width: 700px;
    line-height: 50px;
  }

  .interview__title {
    font-size: 33px;
  }

  .interview__title-home_title {
    line-height: 55px;
  }

  .interview__title-secondary_title {
    max-width: 700px;
    line-height: 50px;
  }

  .interview-card__content {
    padding: 40px 20px 40px 30px;
  }

  .interview-card__img {
    width: 230px;
  }

  .interview-card__timings + * {
    margin-top: 30px;
  }

  .interview-card__subtitle {
    font-size: 31px;
    line-height: 36px;
  }

  .interview-card__links + * {
    margin-top: 35px;
  }

  .interview-card__links::before {
    content: none;
  }

  .interview-card__list ul {
    margin-top: 20px;
  }

  .intstart__title {
    font-size: 33px;
  }

  .intstart__title-home_title {
    line-height: 55px;
  }

  .intstart__title-secondary_title {
    max-width: 700px;
    line-height: 50px;
  }
}

@media (max-width: 783px) {
  .intstart {
    padding: 50px 0 75px;
  }

  .intstart hr + * {
    margin-top: 30px;
  }

  .intstart__content {
    padding: 22px 40px 22px;
  }

  .intstart__question {
    font-size: 31px;
    line-height: 40px;
  }

  .intstart__question .prompt {
    top: -225px;
  }

  .intstart__title + * {
    margin-top: 35px;
  }

  .intstart__answers {
    grid-template-columns: 1fr;
    margin-top: 35px;
  }

  .intstart__answer {
    max-width: 100%;
    padding: 11px 33px 11px 25px;
    height: 70px;
  }

  .intstart__btns {
    margin-top: 45px;
  }

  .intstart__btn {
    padding: 15px 68px;
  }

  .intstart__result__question,
  .intstart .result__question {
    font-size: 21px;
    line-height: 31px;
  }
}

@media (max-width: 768px) {
  .header .logo {
    max-width: 60px;
  }

  .header .nav > :nth-child(3) {
    margin-left: 35px;
  }

  .header__btn {
    padding: 16px 35px;
  }

  .home__title {
    font-size: 28px;
  }

  .home__title-home_title {
    line-height: 50px;
    max-width: 650px;
  }

  .home__title-secondary_title {
    line-height: 40px;
    max-width: 650px;
  }

  .home {
    padding: 35px 0 55px;
  }

  .home__btn {
    padding: 20px 96px;
    border-radius: 20px;
  }

  .info {
    padding: 50px 0 75px;
  }

  .info__wrap {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .steps + * {
    margin-top: unset;
    margin-bottom: 55px;
  }

  .steps__cards {
    grid-row-gap: 37px;
  }

  .steps__cards .card {
    border-radius: 20px;
  }

  .interview__title {
    font-size: 28px;
  }

  .interview__title-home_title {
    line-height: 50px;
    max-width: 650px;
  }

  .interview__title-secondary_title {
    line-height: 40px;
    max-width: 650px;
  }

  .interview-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .interview-card__img {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }

  .interview-card__img img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .footer {
    padding: 25px 0 35px;
  }

  .intstart__title {
    font-size: 28px;
  }

  .intstart__title-home_title {
    line-height: 50px;
    max-width: 650px;
  }

  .intstart__title-secondary_title {
    line-height: 40px;
    max-width: 650px;
  }

  .intstart__question .prompt {
    padding: 30px 25px 20px;
  }

  .intstart__answer .prompt {
    padding: 30px 25px 20px;
  }
}

@media (max-width: 650px) {
  .footer__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__logo {
    display: none;
  }
}

@media (max-width: 648px) {
  .intstart__content {
    padding: 22px;
  }

  .intstart__question {
    font-size: 25px;
    line-height: 35px;
  }

  .intstart .question-icon {
    top: -26px;
    right: -10px;
  }

  .intstart__result,
  .intstart .result {
    padding-left: 5px;
  }

  .intstart__result__question,
  .intstart .result__question {
    font-size: 18px;
    line-height: 25px;
  }

  .intstart__result__answer,
  .intstart .result__answer {
    font-size: 14px;
  }

  .modal__content {
    margin: 0 15px !important;
  }
}

@media (max-width: 604px) {
  .home__title-home_title {
    max-width: 420px;
    line-height: 45px;
  }

  .home__img img {
    top: 0;
  }

  .interview__title-home_title {
    max-width: 420px;
    line-height: 45px;
  }

  .intstart__title-home_title {
    max-width: 420px;
    line-height: 45px;
  }
}

@media (max-width: 600px) {
  .header__btns {
    display: none;
  }
}

@media (max-width: 550px) {
  .modal__title {
    font-size: 23px;
  }

  .modal .form__wrap {
    font-size: 17px;
  }

  .modal .form__btn {
    font-size: 20px;
    padding: 12px 88px;
  }
}

@media (max-width: 520px) {
  .home__title {
    font-size: 25px;
  }

  .home__title-home_title {
    line-height: 40px;
    max-width: 370px;
  }

  .home__text {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .home__img {
    display: block;
    height: 220px;
  }

  .home__img img {
    width: 415px;
    opacity: unset;
    top: unset;
    bottom: -60px;
  }

  .interview__title {
    font-size: 25px;
  }

  .interview__title-home_title {
    line-height: 40px;
    max-width: 370px;
  }

  .interview-card__btn-big {
    padding: 21px 155px;
  }

  .interview__titles + * {
    margin-top: 30px;
  }

  .interview-card__content {
    padding: 30px 20px 40px;
  }

  .interview-card__subtitle {
    font-size: 29px;
    line-height: 34px;
  }

  .interview-card__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__contact p + * {
    margin-top: 30px;
  }

  .footer__contact + * {
    margin-top: 40px;
  }

  .footer__working-mode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__working-mode p:nth-child(1) + * {
    margin-top: 15px;
  }

  .intstart__title {
    font-size: 25px;
  }

  .intstart__title-home_title {
    line-height: 40px;
    max-width: 370px;
  }

  .intstart__btn-big {
    padding: 21px 155px;
  }

  .modal .form__btn-big {
    padding: 21px 155px;
  }
}

@media (max-width: 503px) {
  .intstart__question {
    font-size: 21px;
    line-height: 30px;
  }
}

@media (max-width: 450px) {
  .interview-card__btn {
    font-size: 20px;
    line-height: 25px;
  }

  .interview-card__btn-big {
    padding: 16px 120px;
  }

  .intstart__btn {
    font-size: 20px;
    line-height: 25px;
  }

  .intstart__btn-big {
    padding: 16px 120px;
  }

  .modal .form__btn {
    font-size: 20px;
    line-height: 25px;
  }

  .modal .form__btn-big {
    padding: 16px 120px;
  }
}

@media (max-width: 436px) {
  .intstart__content {
    padding: 16px 20px 22px;
  }

  .intstart__question {
    font-size: 18px;
    line-height: 25px;
  }

  .intstart__question .prompt {
    top: -176px;
    right: 29px;
  }

  .intstart__answer {
    padding: 11px 33px 11px 11px;
    height: 50px;
    font-size: 14px;
    line-height: 19px;
  }

  .intstart__answer label {
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }

  .intstart__answer input[type=radio] {
    width: 17px;
    height: 17px;
  }

  .intstart__btn {
    padding: 12px 44px;
  }

  .intstart__result__question,
  .intstart .result__question {
    font-size: 16px;
    line-height: 23px;
  }

  .intstart__result__answer,
  .intstart .result__answer {
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .header .logo {
    max-width: 40px;
  }

  .home__title {
    font-size: 20px;
  }

  .home__title-home_title {
    line-height: 35px;
    max-width: 286px;
  }

  .home__title-secondary_title {
    line-height: 35px;
    max-width: 650px;
  }

  .home {
    padding: 20px 0 20px;
  }

  .home__btn {
    padding: 20px 80px;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }

  .home__img {
    height: 210px;
  }

  .home__img img {
    width: 340px;
    bottom: -20px;
  }

  .info {
    padding: 40px 0 50px;
  }

  .interview__title {
    font-size: 20px;
  }

  .interview__title-home_title {
    line-height: 35px;
    max-width: 286px;
  }

  .interview__title-secondary_title {
    line-height: 35px;
    max-width: 650px;
  }

  .interview-card__timings {
    font-size: 12px;
  }

  .interview-card__timings + * {
    margin-top: 15px;
  }

  .interview-card__subtitle {
    font-size: 23px;
    line-height: 26px;
  }

  .interview-card__subtitle + * {
    margin-top: 24px;
  }

  .interview-card__list {
    font-size: 15px;
    line-height: 30px;
  }

  .intstart__title {
    font-size: 20px;
  }

  .intstart__title-home_title {
    line-height: 35px;
    max-width: 286px;
  }

  .intstart__title-secondary_title {
    line-height: 35px;
    max-width: 650px;
  }

  .intstart__question .prompt {
    padding: 15px 15px 15px 20px;
    font-size: 10px;
    line-height: 23px;
  }

  .intstart__answer .prompt {
    padding: 15px 15px 15px 20px;
    font-size: 10px;
    line-height: 23px;
  }

  .modal__content {
    padding: 30px 20px 20px;
  }

  .modal__header + * {
    margin-top: 20px;
  }
}

@media (max-width: 410px) {
  .steps__cards .card__text {
    max-width: 190px;
    font-size: 8px;
    line-height: 11px;
  }
}

@media (max-width: 375px) {
  .home__title-secondary_title {
    font-size: 18px;
    line-height: 25px;
  }

  .home__btn {
    padding: 20px 65px;
  }

  .interview__title-secondary_title {
    font-size: 18px;
    line-height: 25px;
  }

  .interview-card__btn-big {
    padding: 16px 104px;
  }

  .intstart__title-secondary_title {
    font-size: 18px;
    line-height: 25px;
  }

  .intstart__btn-big {
    padding: 16px 104px;
  }

  .modal .form__btn-big {
    padding: 16px 104px;
  }
}

@media (max-width: 333px) {
  .home__btn {
    padding: 17px 55px;
  }

  .home__img {
    height: 185px;
  }

  .home__img img {
    width: 340px;
    bottom: -20px;
  }

  .interview-card__btn-big {
    padding: 16px 90px;
  }

  .interview-card__subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .interview-card__list {
    font-size: 12px;
    line-height: 25px;
  }

  .intstart__btn-big {
    padding: 16px 90px;
  }

  .modal .form__btn-big {
    padding: 16px 90px;
  }
}
